<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">
    Angular 4 Space Books
    <i class="fa fa-book fa-lg" aria-hidden="true"></i>
  </a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Home <span class="sr-only">(current)</span>
          <i class="fa fa-home" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About
          <i class="fa fa-info" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/animations">Animations
          <i class="fa fa-film" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chat">Chat
          <i class="fa fa-comments" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span class="badge badge-warning badge-pill"
          *ngIf="cart$ | async as cart" > {{ cart.totalItemsCount }}</span>
        </a>
      </li>
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log In
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </li>
      </ng-template>
      <li *ngIf="appUser; else anonymousUser" ngbDropdown class="d-inline-block">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown01" aria-haspopup="true"
          aria-expanded="false" ngbDropdownToggle><span class="caret"></span>
          {{ appUser.name }}
        </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <ng-container *ngIf="appUser.isAdmin">
              <a class="dropdown-item" routerLink="admin/orders">Manage Orders</a>
              <a class="dropdown-item" routerLink="admin/books">Manage Books</a>
            </ng-container>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </div>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" #query placeholder="Search ...">
      <button class="btn btn-primary my-2 my-sm-0"
      (click)="onSearch(query.value); query.value = '';"
       type="button">Search
       <i class="fa fa-search fa-lg" aria-hidden="true"></i>
     </button>
    </form>
  </div>
</nav>
