<h1>Shopping Cart</h1>

<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
        You have {{ cart.totalItemsCount }} items in your shopping cart.
  </p>

  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th></th>
        <th>Book</th>
        <th class="table-header-width-quantity text-center">Quantity</th>
        <th class="table-header-width-price text-right">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td><img [src]="item.imageUrl" class="thumbnail" alt="{{ item.title }}"></td>
        <td>{{ item.title }}</td>
        <td>
          <app-book-quantity [book]="item" [shoppingCart]="cart"></app-book-quantity>
        </td>
        <td class="text-right">{{ item.totalPrice | currency:'EUR':true }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total:</th>
        <th></th>
        <th></th>
        <th class="text-right"> {{ cart.totalPrice | currency:'EUR':true }} </th>
      </tr>
    </tfoot>
  </table>
  <button (click)="clearCart()" class="btn btn-primary btn-sm">Clear All</button>
</div>
