.table-header-width-quantity {
  width: 230px;
}

.table-header-width-price {
  width: 200px;
}

table {
-webkit-box-shadow: 2px 2px 44px 8px rgba(0,0,0,0.25);
-moz-box-shadow: 2px 2px 44px 8px rgba(0,0,0,0.25);
box-shadow: 2px 2px 44px 8px rgba(0,0,0,0.25);
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
