<i class="fa fa-star-o" [ngClass]="{'fa-star-o': !isFavorite, 'fa-star': isFavorite}"
 aria-hidden="true" (click)="toggle(0)"></i>
 <i class="fa fa-star-o" [ngClass]="{'fa-star-o': !isFavorite1, 'fa-star': isFavorite1}"
  aria-hidden="true" (click)="toggle(1)"></i>
  <i class="fa fa-star-o" [ngClass]="{'fa-star-o': !isFavorite2, 'fa-star': isFavorite2}"
   aria-hidden="true" (click)="toggle(2)"></i>
   <i class="fa fa-star-o" [ngClass]="{'fa-star-o': !isFavorite3, 'fa-star': isFavorite3}"
    aria-hidden="true" (click)="toggle(3)"></i>
    <i class="fa fa-star-o" [ngClass]="{'fa-star-o': !isFavorite4, 'fa-star': isFavorite4}"
     aria-hidden="true" (click)="toggle(4)"></i>
