<p>
    <a routerLink="/admin/books/new" class="btn btn-warning btn-lg">New Book</a>
</p>

<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search ...">
</p>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of filteredBooks">
      <td>{{ b.title }}</td>
      <td>{{ b.price }}</td>
      <td>
        <a [routerLink]="['/admin/books/', b.$key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
