<div class="card text-center">
  <div class="card-header">
    <h1>Welcome to ng4-books</h1>
    <!-- <p></p>
    <p></p> -->
  </div>
  <div class="card-body">
    <h4 class="card-title">We are fearless, ruthless and honest, the goal is progress. Produce quality, working software as
       fast as possible. Iterative. We are Open Source. We are Angular Developers. We honor Angular.</h4>
    <p class="card-text">The best source to learn Angular is the documentation. Read it carefully, key in each instruction,
       rebuild each demo project. Click on every link until you reach the Angular Source Code Repository on Github. Do this
        10 times and then offer your contribution in the Angular Repositories on Github. We must learn the technology
        forwards and backwards. Work hard, be kind, do more ...</p>
    <a href="https://angular.io/guide/quickstart" target="_blank" class="btn btn-primary btn-lg">Code More</a>
  </div>
</div>

<div class="alert">
<div class="alert alert-success" role="alert">
  Never do the same thing twice. If God were among us we would hold him for completely irrational, because he would
  never do the same thing twice. Think constantly. Be unpredictable.
</div>
<div class="alert alert-danger" role="alert">
  Think critically. It is not the strongest that survive, nor the most intelligent but those the most adaptive to change.
  Self-Empowerment.
</div>
<div class="alert alert-warning" role="alert">
  Use your intuition. You must feel comfortable at all times. You always have options. Self-Actualization.
</div>
<div class="alert alert-info" role="alert">
  You can say no. You can set boundaries. If surrounded by assholes, you can also be an asshole. Teach them a lesson. You can answer a dumb question with a dumb question.
  Make yourself respected. Assholes have a tendency to mistake kindness with weakness.
</div>
</div>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">On the right track!</h4>
  <p>The will to win is nothing without the will to prepare. It is at the borders
    of pain and suffering that the men are separated from the boys. Be strong, Feel strong, Enjoy Life ...</p>
  <hr>
  <p class="mb-0">Code with passion. Code all the time. Learn a new technique. Read a new technical book. Create a new app.
  Contribute in an Open Source Project. Read documentation. Write a technical book. Run a Marathon. Train for a Triathlon.
  Start Up your own Software Organization with Angular, Open Source and Google Software ... WORK HARD | BE KIND | DO MORE ...</p>
</div>
