<div class="row offset-3 col-6">
  <div *ngIf="book?.title" class="card" style="width: 40rem; height: 50rem;">
    <img *ngIf="book.imageUrl" style="height: 20rem; width: 20rem;
      margin-left: 6rem;"
     class="card-img-top"
    [src]="book.imageUrl" alt="{{ book.title }}">
    <div class="card-block">
      <h4 class="card-title text-center">{{ book.title }}
        <span class="pull-right"><app-heart></app-heart></span></h4>
      <p appMouseOverToReveal class="card-text">{{ book.description }}</p>
    </div>
  </div>

</div>
