<div *ngIf="book.title" class="card" style="width: 24.1rem; height: 35rem;">
  <a [routerLink]="['/book/', book.$key]">
  <img *ngIf="book.imageUrl" style="height: 20rem; width: 24rem;" class="card-img-top"
  [src]="book.imageUrl" alt="{{ book.title }}">
  </a>
  <div class="card-block">
    <h4 class="card-title">{{ book.title }}</h4>
    <p class="card-text">{{ book.price | currency:'EUR':true }}</p>
    <div *ngIf="showActions"  class="btn-group" role="group" aria-label="Angular Links">
      <a href="https://angular.io/api" target="_blank" class="btn btn-warning">API</a>
      <a href="https://github.com/angular/angular/tree/4.4.2" target="_blank" class="btn btn-primary">Code</a>
      <a href="https://angular.io/tutorial" target="_blank" class="btn btn-info">TOH</a>
      <a href="https://material.angular.io/" target="_blank" class="btn btn-danger">AM</a>
      <a href="https://angular.io/guide/styleguide" target="_blank" class="btn btn-success">Style</a>
      <a href="https://docs.angularjs.org/tutorial" target="_blank" class="btn btn-secondary">Cat</a>
    </div>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button
    *ngIf="shoppingCart.getQuantity(book) === 0; else updateQuantity;"
    (click)="addToCart(book)" routerLink="/books"
    class="btn btn-info btn-block btn-lg">Get Code Now</button>
    <ng-template #updateQuantity>
        <app-book-quantity [book]="book" [shoppingCart]="shoppingCart" ></app-book-quantity>
    </ng-template>
    <div> </div>
  </div>
</div>
