.card {
  margin-bottom: 20px;
  -webkit-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.29);
  box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.29);
}

.card-footer {
  padding: 0;
}

.card-footer button {
  cursor: pointer;
}

a {
  cursor: pointer;
}
